@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 class="text-3xl font-bold mb-6">Counter</h1>

<p role="status" class="mb-4 text-gray-900 dark:text-gray-50">Current count: @currentCount</p>

<button class="btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
